.hide_transition
{
  opacity: 0;
  animation: hide_element 0.2s;
  animation-fill-mode: both;
}

.show_transition
{
  opacity: 0;
  animation: show_element 0.4s;
  animation-fill-mode: both;
}

@keyframes show_element {
  /* You could think of as "step 1" */
  0% {
    opacity: 0;
  }
  /* You could think of as "step 2" */
  100% {
    opacity: 1;
  }
}

@keyframes hide_element {
  /* You could think of as "step 1" */
  0% {
    opacity: 1;
  }
  /* You could think of as "step 2" */
  100% {
    opacity: 0;
  }
}
