<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Some changes have happened in apps bellow</h1>
    <p>There should be some text about app whose data has updated.</p>
    <p>Its title obviously, maybe its short description too.</p>
    <div class="image">
      <%= image_tag(attachments['meh.png'].url) %>
    </div>
  </body>
</html>
