::-webkit-scrollbar {width: 6px; height: 6px;}
::-webkit-scrollbar-track {background: rgba(1, 1, 1, 0);}
::-webkit-scrollbar-thumb {background: rgba(1, 1, 1, 0.158); border-radius: 4px;}
::-webkit-scrollbar-thumb:hover {background: rgba(1, 1, 1, 0.425);}

body
{
  width: 100vw;
  height: 98vh;

  display: flex;
  justify-content: center;
  align-items: center;

  --mdc-theme-primary: rgb(73, 42, 63);
}

.mdc-elevation--z9
{
  box-shadow: 0 5px 6px -3px rgba(0,0,0,.2), 0 9px 12px 1px rgba(0,0,0,.14), 0 3px 16px 2px rgba(0,0,0,.12) !important;
}

.mdc-elevation--z5
{
  box-shadow: 1px 5px 13px 1px rgba(0, 0, 0, 0.13)!important;
}

.flext-center
{
  display: flex;
  align-items: center;
  justify-content: center
}

.mdc-card
{
  overflow: hidden;
  border-radius: 12px;
}

.mdc-textfiled-fullwidth
{
  width: 100%;
}
.mdc-card-div-visible
{
  display: block !important;
}
.mdc-card-div-invisible
{
  display: none !important;
}

.ml-10
{
  margin-left: 10px;
}

.non-selectable
{
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.unhover:hover,:active,:focus
{
  text-decoration: none !important;
  outline: none !important;
}

.br-50
{
  border-radius: 50px !important;
}

.no-shadow
{
  box-shadow: none !important;
}

.covei-1
{
  margin-left: -2px !important;
  margin-top: -2px !important;

  padding: 2px !important;
}

#scene
{
  width: 100% !important;
  height: 100% !important;

  left: 0px !important;
  top: 0px !important;
}

.mdc-select
{
  width: 100% !important;
}

.fit-card
{
  overflow-x: hidden !important;
  border-radius: 10px !important;
  width: fit-content !important;
  min-width: 350px !important;
  max-width: unset !important;
  max-height: unset !important;
  height: max-content !important;
  padding: 25px !important;
}