.card-covei
{
  width: 100%;
  padding: 0px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 5px 13px 1px rgba(0, 0, 0, 0.082)!important;
}

.unset-max-width
{
  max-width: unset !important;
}

.hide_transition
{
  opacity: 0;
  animation: hide_element 0.2s;
  animation-fill-mode: both;
}

.show_transition
{
  opacity: 0;
  animation: show_element 0.4s;
  animation-fill-mode: both;
}

@keyframes show_element {
  /* You could think of as "step 1" */
  0% {
    opacity: 0;
  }
  /* You could think of as "step 2" */
  100% {
    opacity: 1;
  }
}

@keyframes hide_element {
  /* You could think of as "step 1" */
  0% {
    opacity: 1;
  }
  /* You could think of as "step 2" */
  100% {
    opacity: 0;
  }
}

.top-search-field-card
{
  border-radius: 10px;
  background-color: rgba(236, 236, 236, 0.979);
}